.DrawerToggle {
    margin-top: 50px;
    width: 40px;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    box-sizing: border-box;
    cursor: pointer;
    z-index:100;
    opacity: 0.5;
    transition: all 0.3s;
}

.DrawerToggle div {
    margin-bottom:5px;
    width: 90%;
    height: 3px;
    background-color: black;
}

.DrawerToggle:hover{
  opacity: 1;
}

.close {
  margin-top: 40px;
  right: 1px;
  position: fixed;
  width: 40px;
  height: 100%;
  padding: 10px 0;
  box-sizing: border-box;
  z-index:110;
  opacity: 0.6;
  transition: all 0.3s;

}
.close:hover {
  opacity: 1;
}
.close:before, .close:after {
  position: absolute;

  content: ' ';
  height: 33px;
  width: 3px;
  background-color: black;
}

.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}


/**for desktop*/
@media (min-width: 630px) {
    .DrawerToggle {
      display: none;
    }
    .close{
      display: none;
    }
}
