.container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  min-height: 100vh;
  background-image: url('../../res/landscape.svg');
  background-repeat: no-repeat;
  background-size:cover;
}


.Introcard{
  display: block;
  margin: 80px auto;
  width: 400px;
  opacity: 0.9;
}


.links2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.links2 a{
  text-decoration: none;
  font-family: 'Jua', sans-serif;
  margin: 5px;
  font-size:2em;
  color: black;
  font-weight: bold;
  transition: all 0.3s;
}


.links2 a:hover{
  color: #65672A;
  transform: scale(1.3);
}

/**making the terminal smaller for smaller screen*/
@media (max-width:550px){
  .Introcard, .links {
    transform: scale(0.9);
  }

}

.links{
  margin-top: 200px;
  margin-left: 50px;
}

/*for mobile*/
@media (max-width: 730px){
  .links{
    display: flex;
    flex-direction: row;
    justify-content:center;
    margin-top: 20px;
  }
  .container{

  }
}

@media(max-height:615px){
  .Introcard{
    margin-top: 30px;
  }
}
